*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
html{
    scroll-behavior: smooth;
}

/* NAVIGATION BAR */
nav{
    height: 10vh;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
#brand-name{
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#brand-name h2{
    font-size: 200%;
    font-weight: 600;
}
#nav-tabs{
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
#nav-tabs a{
    text-decoration: none;
    font-size: 100%;
    color: black;
}




main{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
}

/* SECTION 1 */
#home{
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 10vh;
}
#home img{
    height: 100%;
    width: 100%;
}

#shop-now-card{
    position: absolute;
    height: 40%;
    width: 30%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.500);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#shop-now-card h1{
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 50px;
}
#shop-now-card p{
    position: absolute;
    top: 130px;
}
#shop-now-card div{
    height: 60px;
    width: 150px;
    background-color: blue;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* SECTION 2 */
#cars{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    scroll-margin-top: 10vh;
}
h2{
    font-size: 40px;
}
#cars-card{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.cars-card{
    position: relative;
    height: 400px;
    width: 550px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.cars-card img{
    position: absolute;
    height: 60%;
    width: 500px;
    border-radius: 10px;
    top: 25px;
    left: 25px;
}
.cars-card h3{
    position: absolute;
    left: 25px;
    font-size: 30px;    
    bottom: 80px;
}
.cars-card p{
    position: absolute;
    left: 25px;
    bottom: 50px;
}
.cars-card span{
    position: absolute;
    left: 25px;
    bottom: 20px;
    color: blue;
}



/* SECTION 3 */
#contact{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#why-icons{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.why-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.why-icons h3{
    font-size: 45px;
}
.why-icons p{
    font-size: 20px;
    font-weight: 600;
}


#copyright{
    height: 25%;
    width: 100%;
    background-color: rgb(0, 4, 41);
    display: flex;
    align-items: center;
    justify-content: center;
}
#copyright p{
    color: white;
}






@media (max-width: 768px){
    
#brand-name{
    width: 50%;
}
#nav-tabs{
    width: 50%;
}

#home{
    height: 400px;
}

/* SECTION_1 */
#shop-now-card{
    height: 50%;
    width: 80%;
}
#shop-now-card h1{
    height: 50px;
    font-size: 40px;
}
#shop-now-card p{
    position: absolute;
    top: 75px;
}

/* SECTION_2 */
#cars{
    height: 1400px;
    justify-content: center;
    gap: 25px;
}

#cars-card{
    height: 1200px;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: space-around;
}
.cars-card{
    height: 400px;
    width: 500px;
}
.cars-card img{
    height: 60%;
    width: 450px;
    top: 25px;
    left: 25px;
}

/* SECTION_3 */
#contact{
    height: 700px;
}
#why-icons{
    height: 70%;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}
#copyright{
    height: 10%;
}
}


